<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>자바스크립트 - 디자인패턴</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='author' content="최승희">
<meta name='description' content='디자인패턴'>
@@include('header.html')
</head>
<body>
<div class="wrap">
    <h1><%= subject %></h1>
    <h2>자바스크립트 디자인패턴 1</h2>
    <h3>작성자 : <%= name%></h3>
    <pre><code data-lang="js">
    /*
        * 자바스크립트 디자인패턴 1 *
    */
    </code></pre>
    <div>

    </div>
</div>
<script src="<%=path.js%>designPattern/AbstractFactory.js"></script>
<script src="<%=path.js%>designPattern/FactoryMethod.js"></script>
<script src="<%=path.js%>designPattern/coupling.js"></script>
<script src="<%=path.js%>designPattern/Prototype.js"></script>
<script src="<%=path.js%>designPattern/Singleton.js"></script>
<script src="<%=path.js%>designPattern/Builder.js"></script>
</body>
</html>
