<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>자바스크립트 - 자료구조와 알고리즘</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='author' content="최승희">
<meta name='description' content='자료구조와 알고리즘'>
@@include('header.html')
<script src="<%=path.js%>20190321/1.js"></script>
</head>
<body>
<div class="wrap">
    <h1><%= subject %></h1>
    <h2>자바스크립트 자료구조와 알고리즘 1</h2>
    <h3>20190321 작성자 : <%= name%></h3>
    <pre><code data-lang="js">
    /*
        * 자바스크립트 자료구조 1 *
    */

    //콘솔창을 열어 값 확인
    </code></pre>
    <div>
        <span>js 파일의 핵심만 highlight-code에 표현</span>
    </div>

</div>
</body>
</html>
