@import 'import/_variable';
@import 'import/_mixin';

$main-width:100%;

.wrap {
    $width:10px !global;
    border:$width solid red;
    $main_color:#eaeaea;
    background: $main-color;
    width:$main-width;
    .show {
        display:block;
    }

    @include mq(lg){
        width:getSize(lg);
        &.set {
            width:10px;
            .setting1 {
                width:15px;
            }
            .setting2 {
                width:25px;
            }
        }
    }
}


.footer {
    width:50px;
    .address1 {
        width:10px;
        .address2 {
            width:10px;
        }
    }
    .address2 {
        width:10px;
    }
}